{% extends 'layouts/default.html' %}
{% block body %}
  <h1>Blog ({{pluralize(posts|length, 'post') }})</h1>

  {% for post in posts %}
    <article class="">
      <h2>
        <a href="{{url_for('posts_show', id=post.id)}}">
          {{post.title}}
        </a>
      </h2>
      <form class="" action="" method="post">
        <input type="number" name="article" id="article" value="{{post.id}}">
        <input type="submit" name="" value="Effacer">
      </form>
    </article>
  {% endfor %}
{% endblock %}
