{% extends 'layouts/default.html' %}
{% block body %}
  <h1>Création nouveau post</h1>
  <form class="" action="" method="post">
    <input type="text" name="title" value="" id="title" placeholder="Titre">
    <textarea name="article" rows="8" cols="70" id="article" placeholder="Article..."></textarea>
    <input type="submit" name="" value="Envoyer">
  </form>
{% endblock %}
