<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learning Flask</title>
  </head>
  <body>
    {% include 'layouts/shared/_nav.html' %}

    {% block body %}{% endblock %}

    {% include 'layouts/shared/_footer.html' %}

  </body>
</html>
