<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for('posts_index') }}>Blog</a></li>
    <li><a href={{ url_for('newPost') }}>New post</a></li>
  </body>
</html>
